body{
    background-color:rgb(243, 195, 207);
}
h1,h2{
    color:black;
    text-align:center;
}
#palace{
    background-color:rgb(243, 195, 207);
}
#container{
    text-align: center;
    vertical-align: middle;
}
