body{
    background-color:pink;
}
h1,h2{
    color:black;
    text-align:center;
    padding:5px;
}
#palace{
    background-color: lightpink;
    height: 90%;
    width: 90%;
    border:5px;
    border-color:black;
}
#container{
    text-align: center;
    vertical-align: middle;
}
