body{
    background-color:pink;
}
h1,h2{
    color:black;
    text-align:center;
}
#palace{
    background-color:hotpink;
}
#container{
    text-align: center;
    vertical-align: middle;
}
